<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- XML-File for role Server_PS -->

<serverconfig>
 <ipconfig>
        <ip>192.168.0.199</ip>
        <netmask>255.255.255.0</netmask>
        <network>192.168.0.0</network>
        <gateway>192.168.0.254</gateway>
        <nameserver>217.18.182.254</nameserver>
 </ipconfig>
 <timezone>Europe/Berlin</timezone>
 <install>
        <name>Connectionserver_Install_Binary</name>
        <branch>trunk</branch>
        <revision>8.3.4.2563</revision>
        <os>linux</os>
        <config>release</config>
        <customization>standard</customization>
        <file>pcvisit_install.bin</file>
	<expat_steps>
  	 <step>
          <question>destination</question>
          <answer>/usr/local/pcvisit</answer>
  	 </step>
         <step>
          <question>address</question>
          <answer>192.168.0.199</answer>
         </step>
        </expat_steps>
 </install>
 <sysvinit>
        <sourcefile>/usr/local/pcvisit/pcvisit_init</sourcefile>
        <sysvname>pcvisit</sysvname>
        <position>99</position>
 </sysvinit>
 <template type="interfaces">
 	<name>interfaces</name>
 	<dest>/etc/network/</dest>
 </template>
 <template type="resolv.conf">
        <name>resolv.conf</name>
        <dest>/etc/</dest>
 </template>
 <aptitude>libexpect-perl_1</aptitude>
 <aptitude>acm</aptitude>
 <command>/usr/local/pcvisit/pcvisit_init start</command>
</serverconfig>

